.card-body {
  color: antiquewhite;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  border-top: none;
}

.am-card {
  color: antiquewhite;
  border: none;
  border-radius: 0;
  margin: 10px;
}

.am-card-header-content {
  align-self: center;
  color: #000;
    display: flex;
    font-weight: bold;
    font-size: x-large;
    font-family: inherit;
}